[flake8]
ignore =
    F812,   # list comprehension redefines
    H101    # Use TODO(NAME)
exclude =
    .git,
    .ipynb_checkpoints,
    __pycache__,
    docs/source/conf.py,
    dist
max-complexity = 10
max-line-length = 100
